<%= form_for(:savemoney, :url => savemoneys_path, :remote => true) do |f| %>
	<%= f.submit I18n.t(:save_money_button), :class => "btn btn-large btn-primary" %>
<% end %>
<div id="save_money_result" class="save_money_result"></div>